canvas {
    width: 100%;
    height: auto;
}

.mdl-card__supporting-text__fix {
    width: 97%;
}

.mdl-textfield--small {
    width: 25px;
}

.mdl-textfield--full {
    width: 100%
}

.mdl-card__title {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.mdl-list--small {
    padding: 0;
    margin: 0;
}

.dashboard {
    max-width: 1080px;
}

.separator {
    height: 32px;
}

.demo-chart:nth-child(1) {
    color: #ACEC00;
}
.demo-chart:nth-child(2) {
    color: #00BBD6;
}
.demo-chart:nth-child(3) {
    color: #BA65C9;
}
.demo-chart:nth-child(4) {
    color: #EF3C79;
}


.progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 50px auto 0;
}
